/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */



html {
  font-size: 18px;
}

h1 {
  font-family: fantasy;
}

h2 {
  font-family: monospace;
}

header {
  border-bottom: 6px solid red;
}

.class-list ul {
  list-style-type: square;
}

.class-list li{
  border: 3px solid #aa3322
}

.even p{
  background-color: grey;
}

.odd p{
  background-color: black;
  color: white;
}

#item1 {
  font-size: 30px;
}

#item2 {
  text-align: right;
}

.exercises ol {
  padding: 15px;
  background-color: grey;
}

#advanced-selectors ul li:nth-child(odd){
  background-color: green
}

#advanced-selectors p a[href]:hover {
  text-decoration: none;
}

#advanced-selectors a[href]:hover {
  background-color: yellow;
}

#advanced-selectors a[href]:active {
  background-color: red;
}
